
:root {
	--main-body-color:    	#F9F8F8;
	--main-blue-color: 		#386CBB;
	--secondary-blue-color: #ABBEEE; 
	--main-header-color:  	#98A5DB;
	--dark-accent-color:  	#514756;
	--accent-color: 		#214bd7;
	--dark-grey:			#515162;
	--darker-grey: 			#363648;
	--darkest-grey: 		#2A2A39;
}

@font-face {
    font-family: 	'Source Serif Pro';
    src: 			url('../fonts/Source Serif/SourceSerifPro-Regular.ttf') format("truetype");
    font-weight: 	normal;
    font-style: 	normal;
}

@font-face {
    font-family: 	'Source Serif Pro';
    src: 			url('../fonts/Source Serif/SourceSerifPro-Bold.ttf') format("truetype");
    font-weight: 	bold;
    font-style: 	normal;
}

@font-face {
    font-family: 	'Source Serif Pro';
    src: 			url('../fonts/Source Serif/SourceSerifPro-Italic.ttf') format("truetype");
    font-weight: 	normal;
    font-style: 	italic;
}

body {
	overflow-x: hidden;
}

.header {
	background: 	var(--main-header-color);
	display: 		flex;
	flex-direction: column;
	height: 		6rem;
	justify-content:center;
}

@media (max-width: 1199px) {
	.header {
		height: 	8rem;
	}
}

.navbar-left-fixed {
	background: 	var(--darker-grey);
	left: 			-14rem;
	height: 		100% !important;
	position: 		fixed;
	transition: 	0.1s left ease-in;
	width: 			14rem;
	z-index: 		1035;
}

.navbar-left-fixed.collapsing {
	left: 			-14rem;
}

.navbar-left-fixed.show {
	left: 			0;
}

.navbar-nav > li:first-child {
	margin-top: 	5vh;
}

.nav-icon-small {
	width: 			6rem;
}

.navbar-brand {
	position: 		relative;
}

.navbar-clickable {
	display: 		block;
	height: 		100%;
	position: 		absolute;
	top: 			0;
	width: 			100%;
}

.nav-icon-large {
	width: 			8rem;
}

a.nav-link, .navbar-toggler {
	color: 			white;
	font-family:    'Trebuchet MS', sans-serif;
	font-size: 		2rem;
	/*font-weight: 	bold;*/
	line-height: 	1.1;
}

@media (min-width: 1200px) and (max-width: 1450px) {
	a.nav-link {
		font-size: 	1.5rem;
	}
}

.navbar .nav-item:not(:last-child) {
	margin-right:	0.9rem;
}

.nav-item.force-right {
	margin-left: 	auto;
}

.navbar-toggler, .header-button {
	align-items: 	center;
	border: 		2px solid white;
	border-radius: 	0.8rem;
	display: 		flex;
	margin: 		0 2rem;
}

.navbar-left-fixed .nav-item {
	font-size: 		2rem;
	margin-bottom: 	1rem;
}

a.nav-link:hover {
	color: 			var(--dark-accent-color);
}

.header-button > a.nav-link:hover,
.header-button > span:hover {
	color: 			var(--main-header-color);
}

.header-button:hover {
	background-color: 	white;
}

.right-fixed-container {
	display: 		flex;
	position: 		fixed;
	right: 			1rem;
}

.fb-button {
	aspect-ratio: 	1;
	display: 		block;
	height: 		3.5rem;
	width: 			3.5rem;
}

.fb-button > a {
	display: 		block;
	height: 		100%;
	position: 		absolute;
	width: 			100%;
	z-index: 		5;
}

.fb-button > object {
	border-radius: 	25%;
	height: 		100%;
}

.article-content-container,
.home-content-container,
.resources-content-container,
.standard-content-container {
	display: 		block;
	height: 		calc(100vh - 6rem);
	padding-bottom: 2rem;
	position: 		relative;
	top: 			6rem;
}

@media (max-width: 1199px) {
	.article-content-container,
	.home-content-container,
	.resources-content-container,
	.standard-content-container {
		height: 		calc(100vh - 8rem);
		top: 			8rem;
	}
}

.article-content-container .row,
.home-content-container .row,
.home-content-container section {
	cursor: 		pointer;
	height: 		100%;
}

@media (max-width: 1199px) and (min-width: 768px) {
	.home-content-container section {
		display: 		 	flex;
		height: 		 	50%;
		justify-content: 	center;
	}
}

@media (max-width: 767px) {
	.home-content-container section {
		display: 	flex;
		height: 	33.33334%;
	}
}

.home-section-text-container {
	background: 	rgba(42, 42, 57, 0.7);
	border-radius: 	1.5rem;
	left: 			10%;
	padding: 		1rem;
	position: 		absolute;
	top: 			5%;
}

@media (min-width: 1200px) {
	.home-section-text-container.low-position {
		bottom:			5%;
		left: 			auto;
		text-align: 	right;
		top: 			auto;
		right: 			10%;
	}
}

@media (max-width: 1199px) and (min-width: 768px) {
	.home-section-text-container{
		bottom: 	auto;
		left: 		auto;
		right: 		auto;
		text-align: center;
		top: 		10%;
	}
}

@media (max-width: 767px) {
	.home-section-text-container{
		background: var(--main-blue-color);
		border-radius: 	0;
		height: 	100%;
		left: 		auto;
		min-width: 	45%;
		padding: 	2rem;
		position: 	relative;
		top: 		0;
	}

	.home-section-text-container.left-position {
		order: 		2;
		text-align: right;
	}
}

.home-section-title {
	color: 			white;
	font-family:    'Trebuchet MS', sans-serif;
	font-size: 		2.1 rem;
	font-weight: 	bold;
	line-height: 	1;
}

.home-section-subtitle {
	color: 			#609ee6;
	font-size: 		1.4 rem;
	font-family:    'Trebuchet MS', sans-serif;
}

.home-section-image {
	height: 		100%;
	object-fit: 	cover;
	object-position:center;
	width: 			100%;
}

.home-section-link {
	height: 		100%;
	left: 			0;
	position: 		absolute;
	top: 			0;
	width: 			100%;
	z-index: 		5;
}

@media (min-width: 1200px) {
	.article-content-container section {
		height:			100%;
	}

	.home-section-title {
		font-size: 		2.5rem;
	}

	.home-section-subtitle {
		font-size: 		1.3rem;
	}
}

.article-title-container {
	background: 	rgba(255, 255, 255, 0.5);
	border-radius: 	1.5rem;
	color: 			var(--darker-grey);
	font-family:    'Trebuchet MS', sans-serif;
	font-size: 		3rem;
	font-weight: 	bold;
	left: 			5%;
	padding: 		1rem;
	position: 		absolute;
	top: 			3%;
}

@media (max-width: 1199px) {
	.article-title-container {
		bottom: 	3%;
		left: 		auto;
		top: 		auto;
	}
}

.article-section-button-container {
	align-items: 	center;
	background: 	white;
	display: 		flex;
	flex-direction: column;
	position: 		relative;
	z-index: 		2;
}

@media (max-width: 1199px) {
	.article-section-button-container {
		flex-direction: 	row;
		height: 			5rem;
		justify-content: 	space-around;
		width: 				100%;
	}
}

.article-section-button {
	align-items: 	center;
	background: 	var(--secondary-blue-color);
	border-radius: 	0.2rem;
	display: 		flex;
	font-family:    'Trebuchet MS', sans-serif;
	font-size: 		1.3rem;
	height: 		3.5rem;
	justify-content:center;
	line-height: 	1;
	margin: 		0.5rem;
	padding: 		0.5rem;
	text-align: 	center;
	transition: 	0.3s background ease, 0.3s color ease;
	width: 			15rem;
}

@media (min-width: 1200px) {
	.article-section-button {
		font-size: 		1.6rem;
	}

	.article-section-button:first-child {
		margin-top: 	4rem;
	}
}

.article-section-button:hover,
.article-section-button.active {
	background-color:	var(--main-blue-color);
	color: 			white;
}

.article-section-button.active {
	font-weight: 	bold;	
}

.separator {
	background: 	#6077dd8f;
	height: 		90%;
	position: 		absolute;
	right: 			0;
	top: 			5%;
	width: 			3px;
	z-index: 		10;
}

.article-text-container {
	font-family:    'Trebuchet MS', sans-serif;
	font-size: 		1.1rem;
	left: 			5%;
	position:       relative;
	top: 			5%;
	width: 			90%;
	white-space: 	pre-line;
}

#article-text-section,
#article-full-text-section {
	overflow-y: auto;
}

#article-full-text-section {
	height: 	90%;
}

@media (max-width: 1199px) and (min-width: 768px) {
	#article-image-section {
		display: 		 	flex;
		height: 		 	40%;
		justify-content: 	center;
	}

	#article-button-section {
		height: 	10%;
	}

	#article-text-section {
		height: 	50%;
	}
}

@media (max-width: 767px) {
	#article-button-section {
		height: 	10%;
	}

	.article-text-container {
		left: 		1%;
		top: 		0%;
		width: 		98%;
	}
}

.article-image-div {
	display: 		 	flex;
	justify-content: 	center;
	position: 			relative;
}

.article-image {
	max-width: 		100%;
}

.page-title {
	background: 	rgba(255, 255, 255, 0.5);
	border-radius: 	1.5rem;
	color: 			var(--darker-grey);
	font-family: 	"Source Serif Pro", serif;
	font-size: 		3rem;
	font-weight: 	bold;
	left: 			5%;
	padding: 		1rem;
	top: 			3%;
}

@media (max-width: 767px) {
	.page-title {
		font-size: 		2.7rem;
		line-height: 	1;
		padding: 		0.3rem;
	}
}

.resources-content-container a{
	display: 		block;
	font-size: 		2rem;
	left: 			15%;
	line-height: 	1.2;
	margin-bottom: 	4%;
	margin-top: 	2%;
	position: 		relative;
	width: 			80%;
}

.resources-section-header {
	background: 	var(--secondary-blue-color);
	margin-left: 	3%;
	margin-right: 	5%;
	margin-top: 	2rem;
	padding-left: 	2%;
}

.resources-section-header-text,
.contact-section-title {
	font-family: 	"Source Serif Pro", serif;
	font-size: 		2.2rem;
	font-weight: 	bold;
	line-height: 	2;
	width: 			calc(100% - 3rem);
}

@media (max-width: 767px) {
	.resources-section-header {
		cursor: 	pointer;
	}

	.resources-section-header-text {
		line-height: 	1;
		padding-top: 	3%;
	}

	.resources-section-header {
		padding-bottom: 3%;
	}
}

.resources-section-header-triangle {
	border-left: 	1rem solid transparent;
	border-right: 	1rem solid transparent;
	border-top: 	2rem solid var(--darker-grey);
	bottom: 		0.5rem;
	height: 		0;
	position: 		absolute;
	right: 			0.5rem;
	transform: 		rotateZ(0);
	transition: 	0.3s transform ease;
	width: 			0;
}

.resources-section-header-triangle.rotated {
	transform: 		rotateZ(90deg);
}

.contact-section {
	margin-bottom: 3rem;
	padding-left: 	3rem;
}

@media (min-width: 1200px) {
	.contact-section {
		height: 	70vh;
	}
}

.contact-section-title {
	left: 			2rem;
	position: 		relative;
}

.contact-section-table {
	font-size: 		1.5rem;
	width: 			calc(100% - 4rem);
}

.contact-table-label {
	font-weight: 	bold;
	text-align: 	right;
}

#contact-card-container {
	display: 		flex;
	flex-wrap: 		wrap;
	height: 		calc(100% - 9rem);
	justify-content: space-around;
	margin-top: 	2rem;
	overflow-y: 	auto;
	position: 		relative;
	width: 			100%;
}

.contact-card {
	font-size: 		0.8rem;
	margin-bottom: 	2rem;
	margin-right: 	3%;
	width: 			12rem;
}

@media (min-width: 1200px) {
	.contact-card {
		margin-right: 	5%;
		width: 			45%;
	}
}

@media (min-width: 1920px) {
	.contact-card {
		margin-right: 	3%;
		width: 			30%;
	}
}

.contact-card .card-title {
	font-size: 		1.5rem;
	font-weight: 	bold;
}

.contact-card b.card-text {
	font-size: 		1rem;
}

.visit-map {
	aspect-ratio: 	4 / 3;
	border: 		2px solid var(--darker-grey);
	left: 			5%;
	position: 		relative;
	width: 			90%;
}

.visit-label b {
	font-size: 		1.2rem;
}

.btn {
	cursor: 		pointer;
	position: 		absolute;
	right: 			10%;
}

.big-blue-button-container {
	display: 		flex;
	flex-wrap: 		wrap;
	justify-content: center;
}

.big-blue-button {
	background-color: var(--main-blue-color);
	border-radius: 	2rem;
	font-size: 		3rem;
	height: 		12rem;
	margin-bottom: 	2rem;
	position: 		relative;
	width: 			80vw;
}

.big-blue-button > a {
	align-items: 	center;
	color: 			white;	
	display: 		flex;
	flex-direction: column;
	height: 		100%;
	line-height: 	1;
	justify-content: center; 
	position: 		absolute;
	text-align: 	center;
	width: 			100%;
}

@media (min-width: 1200px) {
	.big-blue-button {
		margin-right: 	5rem;
		width: 			25rem;
	}
}

.big-blue-button .subtitle {
	font-size: 		2rem;
}

.testimonial {
	background: 	var(--darker-grey);
	display: 		flex;
	left:  			5%;
	height: 		15rem;
	margin-bottom: 	3rem;
	width: 			90%;
}

.testimonial-image {
	border: 		2px solid white;
	height: 		10rem;
	margin-left: 	2.5rem;
	margin-top: 	2.5rem;
	object-fit: 	cover;
	object-position: center;
	position: 		relative;
	width: 			10rem;
}

.testimonial-text-container {
	color: 				white;
	display: 			flex;
	flex-direction: 	column;
	font-family: 		"Source Serif Pro", serif;
	font-size: 			1.1rem;
	justify-content: 	center;
	margin-left: 		2.5rem;
	padding-right: 		1rem;
}

.testimonial-title {
	font-size: 			2rem;
}

.centerer {
	display: 			flex;
	justify-content: 	center;
	width: 				100%;
}

.calendar-container,
.date-display-container {
	align-items: 		center;
	display: 			flex;
	flex-direction: 	column;
}

.calendar-container {
	height: 		calc(100vh - 15rem);	
}

.calendar-header {
	display: 			flex;
	font-family: 		"Source Serif Pro", serif;
	justify-content: 	center;
	line-height: 		1;
	position: 			relative;
}

.date-display-container {
	margin-bottom: 		1rem;
	margin-left: 		2rem;
	margin-right: 		2rem;
}

#month-text {
	font-size: 			2rem;
	font-weight: 	    bold;
}

#year-text {
	font-size: 			1.8rem;
}

.calendar-left-chevron,
.calendar-right-chevron {
	aspect-ratio: 		2 / 3;
	background-position:center;
	background-repeat: 	no-repeat;
	background-size: 	contain;
	cursor: 			pointer;
	height: 			100%;
}

.calendar-left-chevron {
	background-image: 	url(../img/chevron-left.png);
}

.calendar-right-chevron {
	background-image: 	url(../img/chevron-right.png);
}

#calendar-body {
	font-family:    'Trebuchet MS', sans-serif;
	height: 			calc(100% - 10rem);	
	width: 				calc(100% - 2rem);
}

@media (max-width: 767px) {
	#month-text {
		font-size: 		1.8rem;
	}

	#year-text {
		font-size: 		1rem;
	}

	.calendar-container {
		height: 		40vh;
	}

	#calendar-body {
		height: 		calc(100% - 3rem);
	}
}

.calendar-row {
	display: 			flex;
	margin-bottom: 		1rem;
	margin-left: 		1rem;
	max-height: 		15%;
	width: 				100%;
}

.calendar-header-entry,
.calendar-date {
	align-items: 		center;
	display: 			flex;
	font-size: 			2rem;
	justify-content: 	center;
	width: 				14.286%;
}

.calendar-date {
	aspect-ratio: 		1 / 1;
	background-color: 	var(--secondary-blue-color);
	border: 			2px solid rgb(215, 222, 248);
	cursor: 			pointer;
	font-size: 			2rem;
	margin-left: 		1.2%;
	margin-right: 		1.2%;
	width: 				12.286%;
}

@media (max-width: 1199px) {
	.calendar-date {
		font-size:			1.2rem;
	}
}

.calendar-date.empty {
	background-color: 	rgba(0, 0, 0, 0);
	cursor: 			default;
}

.calendar-date.inactive {
	opacity: 			0.5;
}

.calendar-date.current {
	background-color: 	var(--accent-color);
	color: 				white;
	border: 			var(--accent-color);
}

.calendar-events-title {
	font-family: 		"Source Serif Pro", serif;
	font-size: 			1.8rem;
	width: 				calc(100% - 2rem);	
}

@media (max-width: 1199px) {
	.calendar-events-title {
		text-align: 	center;
	}
}

.calendar-events-container {
	align-items: 		center;
	display: 			flex;
	flex-direction: 	column;
	margin-top:		 	1rem;
	width: 				100%;
}

@media (min-width: 1200px) {
	.calendar-events-container {
		margin-top: 	0;
	}
}

#calendar-events-date {
	font-size:      2 rem;
	font-family:    'Trebuchet MS', sans-serif;
}

#calendar-events-list {
	height: 		calc(100vh - 19rem);
	overflow: 		auto;
}

@media (max-width: 1199px) {
	#calendar-events-list {
		height: 	auto;
	}
}

.calendar-event {
	width: 				calc(100% - 2rem);
}

.calendar-event-title {
	background: 	var(--secondary-blue-color);
	font-family:    'Trebuchet MS', sans-serif;
	font-size: 		2rem;
	margin-left: 	3%;
	margin-right: 	5%;
	margin-top: 	2rem;
	padding-left: 	2%;
}

.calendar-event-table {
	font-size: 		1.1rem;
	font-family:    'Trebuchet MS', sans-serif;
	margin: 		0.5rem;
}

@media (max-width: 1199px) {
	.calendar-event-table {
		font-size: 		1.1rem;
	}
}

.calendar-event-description {
	font-size: 		1.2rem;
	margin-left: 	5%;
	width: 			80%;
	white-space: 	pre-line;
}

@media (max-width: 1199px) and (min-width: 768px) {
	.calendar-event {
		display: 	flex;
	}

	.calendar-event-main-info,
	.calendar-event-description {
		height: 	100%;
		width: 		50vw;
	}

	.calendar-event-description {
		padding-top:2rem;
	}
}

@media (min-width: 1200px) {
	.calendar-events-title {
		font-size: 	2rem;
	}

	#calendar-events-date {
		font-size: 	2rem;
		color:	   #386CBB;
		font-weight: bold;
	}

	.calendar-event-title {
		cursor: 	pointer;
	}
}